parameters:
	ignoreErrors:
		-
			message: '#^Method TheApp\\Apps\\ConsoleApp\:\:run\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Apps/ConsoleApp.php

		-
			message: '#^Method TheApp\\Components\\CallableCommandHandler\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Components/CallableCommandHandler.php

		-
			message: '#^Method TheApp\\Components\\CommandRunner\:\:addCommand\(\) has parameter \$handler with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Components/CommandRunner.php

		-
			message: '#^Method TheApp\\Components\\CommandRunner\:\:runCommand\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Components/CommandRunner.php

		-
			message: '#^Property TheApp\\Components\\CommandRunner\:\:\$container is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Components/CommandRunner.php

		-
			message: '#^Method TheApp\\Components\\Repositories\\RouteRepository\:\:addRoute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Components/Repositories/RouteRepository.php

		-
			message: '#^Method TheApp\\Components\\RouteHandler\:\:addAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Components/RouteHandler.php

		-
			message: '#^Method TheApp\\Components\\RouteHandler\:\:addAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Components/RouteHandler.php

		-
			message: '#^Method TheApp\\Components\\RouteHandler\:\:addMiddlewares\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Components/RouteHandler.php

		-
			message: '#^Method TheApp\\Components\\Router\:\:buildRoute\(\) has parameter \$handler with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Components/Router.php

		-
			message: '#^Method TheApp\\Interfaces\\CommandConfiguratorInterface\:\:configureCommands\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Interfaces/CommandConfiguratorInterface.php

		-
			message: '#^Method TheApp\\Interfaces\\CommandHandlerInterface\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Interfaces/CommandHandlerInterface.php

		-
			message: '#^Method TheApp\\Structures\\RouteMatchResult\:\:__construct\(\) has parameter \$parameters with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Structures/RouteMatchResult.php
